node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
android/build/
android/.gradle/
android/app/build/
android/app/.cxx/
ios/build/
ios/Pods/
ios/DerivedData/
.env
.env.local
.env.production
npm-debug.*
yarn-debug.*
yarn-error.*
.DS_Store
*.pem
