STPL_API_URL=https://sms.hitechsms.com/app/smsapi/index.php
STPL_API_KEY=your_api_key_here
STPL_USERNAME=
STPL_PASSWORD=
STPL_SENDER_ID=KUSCAB
STPL_ROUTE=TransAPI
STPL_ROUTE_ID=13
STPL_CAMPAIGN=0
STPL_COUNTRY_CODE=91
OTP_TTL_SECONDS=300
PORT=8080

STPL_API_QUERY_KEY_FIELD=key
STPL_API_QUERY_MOBILE_FIELD=contacts
STPL_API_QUERY_MESSAGE_FIELD=msg
STPL_API_QUERY_SENDER_FIELD=senderid
STPL_API_QUERY_USERNAME_FIELD=user
STPL_API_QUERY_PASSWORD_FIELD=passwd
STPL_API_QUERY_ROUTE_FIELD=routeid
STPL_API_QUERY_TYPE_FIELD=type
STPL_API_QUERY_TYPE_VALUE=text
STPL_API_QUERY_CAMPAIGN_FIELD=campaign
STPL_API_QUERY_COUNTRY_FIELD=country
STPL_OTP_TEMPLATE_ID=1707177980314073534
STPL_API_QUERY_TEMPLATE_FIELD=template_id

SUPABASE_URL=https://your-supabase-url.supabase.co
SUPABASE_SERVICE_ROLE_KEY=your_service_role_key_here
